@media screen and (max-width: 610px) {

    .maindiv{
       
        display: flex;
        flex-direction: column;
        
    }

    .mob-res{
        width: 50vw !important;
        display: flex;
        justify-content: space-between;
        margin-top: 20px !important;
        margin: auto; 

    }
    
    .search-box{
        margin: auto;

    }
  
  }

 